<div class="container">
  <div class="row">
    <div class="col-12 pb-4 pt-4 mb-4 border-bottom">
      <div class="float-right" style="float: right;">
        <%= link_to "Log In", new_account_session_path, class: "btn btn-outline-primary" %>
        <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>
      </div>
      <div>
      <p class="h3">Reddit</p>
    </div>
  </div>
</div>